*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto', monospace;
    
    --fw-reg: 300;
    --fw-sec: 400;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #8A3030;
    --clr-bckgrnd: #444;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bckgrnd);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}


/* General properties */

a {
    text-decoration: none;
    color: var(--clr-light);
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    padding: 2vh;
    border-bottom: 1px solid grey;
    border-radius: 3%;
}

h1 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

h2 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-sec);
}

h3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: 500;
}

img {
    max-width: 400px;
}

button {
    background-color: #3374ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

header,
nav,
footer,
section {
    display: block;
}

.left-header {
    width: 200px;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
}

.logo {
    height: 20vh;
}

.nav-list {
    text-align: center;
}

/*  Because home is the first page of the site, 
    initial that li to active color             */
.first-page {
    background-color: #404040;
}

.main {
    left: 200px;
    position: absolute;
    height: 100vh;
    width: calc(100% - 200px);
}

/*  Home section    */
.home-container {
    display: initial;
}

.home-zone-wrapper {
    margin-top: 20vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1.5fr 2fr;
    gap: 2rem;
    text-align: center;
}

.home-left-zone {
    text-align: left;
    margin-left: 10vw;
}

.home-left-zone-subtext {
    padding: 15px;
    max-width: 500px;
}

.home-right-zone {
    margin-right: 15vw;
    padding-right: 5vw;
}

.title {
    padding-left: 50px;
}

/*  About Me Section    */
.about-container {
    display: none;
}

.about-zone-wrapper {
    margin-top: 15vh;
    margin-right: 15vw;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "profileimg intro"
        "myskills myskills"
        "experience experience";      
}

.aboutimg {
    grid-area: profileimg;
    padding-left: 5vw;
}

.intro {
    grid-area: intro;
    line-height: 2em;
}

.skills {
    grid-area: myskills;
    margin-top: 5vh auto;
}

.skills:before {
    content: '';
    display: block;
    margin: 0 auto;
    width:60%;
    padding-bottom: 20px;
    padding-top: 40px;
    border-bottom: 1px solid grey;
}

.skills::after{
    content: '';
    display: block;
    margin: 0 auto;
    width:60%;
    padding-top: 40px;
    border-bottom: 1px solid grey;

}

.skill-bar-container{
    width:80%;
    margin: auto;
}
@keyframes load{
    from {
        width: 0%;
    }
}
@-webkit-keyframes load{
    from {
        width: 0%;
    }
}
@-moz-keyframes load {
    from {
        width: 0%;
    }
}
@-o-keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)
}

.bar::before {
    content: attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.front::before {
    background-color: #3374ff;
}

.bar.back::before {
    background-color: #a6cfe3;
}

.bar.expert::before {
    width: calc(100% - 1px);
}

.bar.advanced::before {
    width: calc(80% - 1px);
}

.bar.intermediate::before {
    width: calc(60% - 1px);
}

.bar.basic::before {
    width: calc(40% - 1px);
}

.bar.learning::before {
    width: calc(20% - 1px);
}

.experience {
    grid-area: experience;
}

.experience-card {
    background-color:#3374ff;
    border-radius: 2px;
    margin: 4vh;
    padding: 10px;
}

.experience-card-date {
    background-color: #203f83;
    margin-left: -20px;
    padding: 5px;
    width: max-content;
}

.experience-title {
    margin-top: 5px;
    font-weight: var(--fw-bold);
}

.experience-location {
    margin-left: 5px;
    font-weight: var(--fw-sec);
}

.experience-body {
    margin-top: 5px;
}

/*  Portfolio   */