*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto', monospace;
    
    --fw-reg: 300;
    --fw-sec: 400;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #8A3030;
    --clr-bckgrnd: #444;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bckgrnd);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}


/* General properties */

a {
    text-decoration: none;
    color: var(--clr-light);
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    padding: 2vh;
    border-bottom: 1px solid grey;
    border-radius: 3%;
}

h1 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

h2 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-sec);
}

h3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: 500;
}

img {
    max-width: 400px;
}

header,
nav,
footer,
section {
    display: block;
}

.left-header {
    width: 200px;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
}

.nav-list {
    text-align: center;
}

.logo {
    height: 20vh;
}

.main {
    left: 200px;
    position: absolute;
    height: 100vh;
    width: calc(100% - 200px);
}

.zone-wrapper {
    margin-top: 20vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1.5fr 2fr;
    gap: 2rem;
    text-align: center;
}

.left-zone {
    text-align: left;
}

.title {
    padding-left: 50px;
}

.left-zone-subtext {
    padding: 15px;
    max-width: 500px;
}

.right-zone {
    margin-right: 15vw;
    padding-right: 5vw;
}


